In [3]:
#1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
#the list.
def sum_even_numbers(numbers):
    total = 0
    for num in numbers:
        if num % 2 == 0:
            total += num
    return total

In [4]:
d = [1, 2, 3, 4, 5 ,5, 6 ,6 ,7 ,8 ,9, 10]
print(sum_even_numbers(d))

36

In [5]:
#2. Create a Python function that accepts a string and returns the reverse of that string.
a = input("enter your name: ")
reverse_string = a[::-1]
print(reverse_string)

enter your name: mayank
knayam

In [6]:
#3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
#each number.
def square_numbers(numbers):
    squares = []
    for num in numbers:
        squares.append(num ** 2)
    return squares


f =[45, 5 ,10 ,33, 2, 4]
print(square_numbers(f))

[2025, 25, 100, 1089, 4, 16]

In [7]:
#4 Write a Python function that checks if a given number is prime or not from 1 to 200
def is_prime(n):
  if n <= 1:
    return False
  for i in range(2, n):
    if n % i == 0:
      return False
  return True


num = int(input("Enter a number: "))
if is_prime(num):
  print(num, "is a prime number.")
else:
  print(num, "is not a prime number.")

Enter a number: 17
17 is a prime number.

In [8]:
#5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
#terms.
def fin(n):
  a = 0
  b = 1
  for i in range (n):
    yield a
    a, b = b, a+b

f = fin(50)

In [9]:
next(f)

0

In [10]:
next(f)

1

In [11]:
next(f)

1

In [12]:
next(f)

2

In [13]:
next(f) #and we need to do this till 50 to get the fibonacci sequence

3

In [14]:
#6. Write a generator function in Python that yields the powers of 2 up to a given exponent
def power(n):
  powers = 1
  for i in range(n+1):
    powers.append(2**i)
  yield powers


p = power(5)

In [18]:
#7. Implement a generator function that reads a file line by line and yields each line as a string.
def line_generator(f):
  with open(f, 'r') as file:
    for line in file:
      yield line

In [19]:
#8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.
def sort_list_of_tuples(lst):
  lst.sort(key=lambda x: x[1])
  return lst

g = [(1, 2), (4, 1), (9, 10), (13, -3)]
print(sort_list_of_tuples(g))

[(13, -3), (4, 1), (1, 2), (9, 10)]

In [20]:
#9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.
def celsius_to_fahrenheit(celsius):
    """Converts Celsius to Fahrenheit."""
    return (celsius * 9/5) + 32

temperatures_celsius = [0, 20, 37, 100]

temperatures_fahrenheit = list(map(celsius_to_fahrenheit, temperatures_celsius))

print("Celsius:", temperatures_celsius)
print("Fahrenheit:", temperatures_fahrenheit)

Celsius: [0, 20, 37, 100]
Fahrenheit: [32.0, 68.0, 98.6, 212.0]

In [21]:
#10. Create a Python program that uses `filter()` to remove all the vowels from a given string
def remove_vowels(string):
    vowels = 'aeiouAEIOU'
    return ''.join(filter(lambda x: x not in vowels, string))

string = "Hello, World!"
result = remove_vowels(string)
print(result)

Hll, Wrld!

In [22]:
#11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:
""" [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map"""



orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

order_values = list (map (lambda order: (order[0], order[2]* order[3]+10 if order[2]* order[3] < 100 else order[2]* order[3]), orders))

print(order_values)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]